body {
  font-family: "Cormorant", serif;
}

.offcanvas-header {
  background-color: #ff0000;
  color: white;
}
.offcanvas-title {
  font-weight: bolder;
  text-align: left;
}

.offcanvas-body {
  text-align: left;
  font-weight: bolder;
  font-size: x-large;
}

.vision-container {
  background-color: #e9ecef;
}
/* .container img {
  padding: 3px;
} */

.footer-container {
  background-color: black;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section {
  background-color: rgb(230, 27, 27);
  color: #e9ecef;
}

.map iframe {
  box-shadow: 0 4px 0 0 #ece9101f;
  border-radius: 5px;
}

.footer-icon-fb:hover {
  width: 38px;
}
.footer-icon-yt:hover {
  width: 35px;
}

.pastor-section {
  background-color: #e9ecef;
  text-align: center;
}

.about-pastor-section {
  text-align: center;
  background-color: #e9ecef;
}

.about-pastor-section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.211);
  border-bottom: 2px black;
}
.pastor-section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.211);
  border-bottom: 2px black;
}

.church-leaders img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.211);
  border-bottom: 2px black;
}

.church-leaders {
  background-color: #e9ecef;
  text-align: center;
}
.deacon-board {
  font-weight: bolder;
  border-bottom: 1px solid black;
}
.form-right,
.form-text {
  background-color: #e9ecef;
}

.termsandprivacy {
  color: rgb(230, 27, 27);
  text-decoration: underline;
  font-style: italic;
}

.contact-icon-section {
  background-color: #e9ecef;
}

.form-left img {
  object-fit: cover;
  object-position: center;

  padding-left: 0 !important;
}

.photo-collage img {
  object-fit: cover;
  justify-content: center;
  width: 100%;
}

.photo-six {
  background-color: #ff0000;
  color: white;
}

.gallery-2 {
  background-color: #0ead53;
}
.gallery-3 {
  background-color: #530ead;
}

.about-church-background {
  background-image: url(imges/church-sideview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.church-background-text {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
  border-radius: 30px;
}

.policy-paragrap {
  text-align: left;
}
