body {
  font-family: "Cormorant", serif;
}

.offcanvas-header {
  background-color: #ff0000;
  color: white;
}
.offcanvas-title {
  font-weight: bolder;
  text-align: left;
}

.offcanvas-body {
  text-align: left;
  font-weight: bolder;
  font-size: x-large;
}

.vision-container {
  background-color: #e9ecef;
}
.container img {
  padding: 3px;
}